.photoDiv {
    height: 50vw;
}

.align-right {
    position: absolute;
    right: 0;
}

.blackText {
    color: black;
    opacity: 1.0
}

.blackText:hover {
    color: lightblue; 
}

.wide {
    width: 100%;
    height: 80vh;
    opacity: 0.6
}

#row1div1 {
    background-image: url('../../public/images/ws_1.jpg');
    background-size: cover;
}

#row1div2 {
    background-image: url('../../public/images/ws_10.jpg');
    background-size: cover;
}

#row2div1 {
    background-image: url('../../public/images/ws_8.jpg');
    background-size: cover;
}

#row2div2 {
    background-image: url('../../public/images/ws_12.jpg');
    background-size: cover;
}

.bg-light {
    height: 100%
}

.clickHeaderDiv {
    height: 10vw;
    padding:auto;
}

.mainPageImage {
    opacity: 0.8;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -10; 
}

.headerImage {
    opacity: 0.8;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.newHeaderImage {
    display: none;
}

h4 {
    display: block;
    margin:auto;
    font-family: "Courier";
    opacity: 1;
    color: lightblue; 
}

.headerText {
    position: absolute;
    right: 25%;
    bottom: 40%;
    color: lightblue; 
    font-family: "Courier";
    font-size: 7vw;
    opacity: 1;
  }

.headerText:hover, h4:hover, .mainTextDivs:hover {
    cursor: pointer;
    text-shadow: 0 0 0.01px black;
}

.headerTextTop {
    color: lightblue; 
    font-family: "Courier";
}

.mainContainer {
    position: relative;
    z-index: 5;
}

.mainTextDivs {
    background-color: lightblue; 
    color: #343a40;
    height: 33vh;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out; 
    -webkit-transition: width 3s;
}

.navbar {
    width: 100%
}

.footer {
    height: 50px;
}

.opac {
    opacity: 0.9;
}

.grow { 
    transition: all .2s ease-in-out; 
}
     
.grow:hover, .mainTextDivs:hover { 
    transform: scale(1.1); 
}

.grow2 { 
    transition: all .2s ease-in-out; 
}
     
.grow2:hover { 
    transform: scale(1.5); 
}

.footLink {
    color: lightblue; 
    font-size: 2rem
}

.footLink:hover {
    color:LAVENDER;
}

#navvvy {
    display: block;
}

@media only screen and (max-width: 1000px) {
    .mainContainer {
      display: none;
    }

    .wide {
        width: 100%;
        height: 50vh;
        opacity: 0.6
    }
  }