<div class='row row1'>
    <div id='row1div1' 
        class='col-md-4 offset-md-0 col-8 offset-2 
            mb-5 mt-5 p-3
            mainTextDivs'>
            <h4>Wat is een wraaksaus?</h4>
            <img class='mainPageImage'>
            <p>Een wraaksaus is een vreemd sausje. Een beetje een peper, een beetje zout. Doe wat je vies vind, niet wat je lekker vind, zeggen we altijd maar. Frietsap vriendschap!</p>
    </div>
    <div id='row1div2' 
        class='col-md-4 offset-md-4 col-8 
            mb-5 mt-5 p-3
            mainTextDivs'>
            <h4>Agenda</h4>
            <img class='mainPageImage'>
            <ul>
                <li>20 maart: Swaggen in Parijs</li>
                <li>25 mei: Coke in Tokio</li>
            </ul>
    </div>
</div>
<div class='row fillerRow mb-5 mt-5'>

</div>
<div class='row row2'>
    <div id='row2div1' 
        class='col-md-4 offset-md-0 col-8 offset-2 
            mb-5 mt-5 p-3
            mainTextDivs'>
            <h4>Muziek</h4>
            <img class='mainPageImage'>
            <div class="soundCloud">Stel je voor dat dit een soundcloud dinges is...</div>
            <div class="soundCloud">en nog een!!</div>
            <div class="soundCloud">Weer een keiharde soundcloud jam</div>
    </div>
    <div id='row2div2' 
        class='col-md-4 offset-md-4 col-8 
            mb-5 mt-5 p-3
            mainTextDivs'>
            <h4>Appeltaart...</h4>
            <img class='mainPageImage'>
    </div>
</div>