<body onload="getSlideshow()">
    <nav id="navvvy" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">

    </nav>
    <div id="daRealMainContaina" class="container col-12 opac">
        <div class="mainContainer col-10 mt-6 offset-1">
            <div id="photoDiv" class="photoDiv">
                <span onclick=handleClick(event) id="headerText" class="headerText grow">Wraaksaus</span>
                <img id="headerImage" class="headerImage" src="">
            </div>
        </div>
        <div class='row row1 mt-3'>
                <div id='row1div1' 
                onclick=handleClick(event)
                    class='col-lg-4 offset-lg-1 col-8 offset-2 
                        mb-5 mt-5 p-3
                        mainTextDivs'>
                        <h4 id="content1" class='grow2'>
                            Wat is Wraaksaus?</h4>
                </div>
                <div id='row1div2' 
                onclick=handleClick(event)
                    class='col-lg-4 offset-lg-2 col-8 offset-2 
                        mb-5 mt-5 p-3
                        mainTextDivs'>
                        <h4 id='content2' class='grow2'>
                            Agenda</h4>
                </div>
            </div>
            <div class='row fillerRow mb-2 mt-2'>
            
            </div>
            <div class='row row2'>
                <div id='row2div1' 
                onclick=handleClick(event)
                    class='col-lg-4 offset-lg-1 col-8 offset-2 
                        mb-5 mt-5 p-3
                        mainTextDivs'>
                        <h4 id='content3' class='grow2'>
                            Muziek</h4>
                </div>
                <div id='row2div2' 
                onclick=handleClick(event)
                    class='col-lg-4 offset-lg-2 col-8 offset-2 
                        mb-5 mt-5 p-3
                        mainTextDivs'>
                        <h4 id='content4' class='grow2'>
                            Appeltaart...</h4>
                </div>
            </div>
    </div>