<body onload="getSlideshow()">
    <nav id="navvvy" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    </nav>
    <div id="daRealMainContaina" class="container col-12 opac">
        <div class="mainContainer col-10 mt-6 offset-1">
            <div id="photoDiv" class="photoDiv">
                <span onclick=handleClick(event) id="headerText" class="headerText grow">Wraaksaus</span>
                <img id="headerImage" class="headerImage" src="../../public/images/ws_1.jpg">
            </div>
        </div>
    </div>